<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cosoros.www.network">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <activity
            android:name=".bluetooth.DeviceListActivity"
            android:label="Select Bluetooth Device"
            android:parentActivityName=".bluetooth.BluetoothActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".bluetooth.BluetoothActivity"
            android:label="Bluetooth Setting"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>